[mysqld]
# 字符集配置
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-character-set=utf8mb4
init-connect='SET NAMES utf8mb4'
skip-character-set-client-handshake

# 其他 MySQL 配置
max_connections=1000
max_allowed_packet=256M
default-storage-engine=InnoDB

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
